
.cart .addToCart:hover {
	background-color:#b50000;
	color:#fff;
	font-weight: 400;
	border: 1px solid #b50000; 
	
}

header .searchSpace input[type="submit"]:hover{
	font-weight: 400;
}

input[type=submit]:hover {
	background-color:#fff;
	color:#b50000;
	font-weight: 400;
	
	border: 3px solid  #b50000;
}

.cart .addToCart:active {

		font-size:12px;
}
.incart:hover{
	width: 70%;
}
.brand:hover{
width: 100%;
}
.utility:hover{
	width: 100%;
}
.utility:hover .favtext{

	display: inline-block;
	
}
