

    <div class="headerimage homeimg text-center" style="background-image: url(assets/img/carousal.jpg);">
      <div class="headercontent home">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 data-scrollreveal="enter top over 1.9s after 0.2s">EzCart  banner</h1>
              <p class="lead" data-scrollreveal="enter bottom over 1.9s after 0.4s">
                shop eazy
              </p>
              <a target="_blank" data-scrollreveal="enter bottom over 1.0s after 1.6s" href="#" class="homeimgbtn">view more</a>
            </div>
          </div>
        </div>
      </div>
    </div>