    <footer class="themefooter section medium-padding bg-graphite">
    <div class="">
      <div class="section-inner row">
        <div class="column column-1 col-md-4 rightbd">
          <div class="widgets">
            <div class="widget widget_text">
              <div class="widget-content">
                
                <h3 class="with-img widget-title">
                   <img alt="Moddys Choclate OOty" class='footer-headerimg' src="assets/img/logo.png"/>
                   Moddys Choclate OOty</h3>
                <div class="textwidget">
                 Feel free to contact us any time
               </br>
               +91-9876543210
               </br>
               help@moddy.in
               </br>
                   sales@moddy.in
               </br>
               MONDAY-FRIDAY:8:00-20:00
                </br>
               SATURDAY-SUNDAY:8:00-16:00
                </div>
              </div>
              <div class="clear">
              </div>
            </div>
          </div>
        </div>
        <!-- /footer-a -->
        <div class="column column-1 col-md-4 rightbd">
          <div class="widgets">
            <div class="widget widget_wysija">
              <div class="widget-content">
                <h3 class="widget-title">Best selling category</h3>
                <div class="widget_wysija_cont">
        
                </div>
              </div>
              <div class="clear">
              </div>
            </div>
          </div>
        </div>
        <!-- /footer-b -->
        <div class="column column-1 col-md-4">
          <div class="widgets">
            <div class="widget widget_edd_categories_tags_widget">
              <div class="widget-content">
                <h3 class="widget-title">Usefull Links</h3>
                <ul class="edd-taxonomy-widget">
                  <li><a href="#">AboutUs</a></li>
                  <li><a href="#">ContactUs</a></li>
                  <li><a href="#">Become our seller</a></li>
                  <li><a href="#">Login/Signup</a></li>
                
                </ul>
              </div>
              <div class="clear">
              </div>
            </div>
          </div>
        </div>
        <!-- /footer-c -->
        <div class="clear">
        </div>
      </div>
      <!-- /footer-inner -->
    </div>
    <!-- /grid -->
    <div class="sectioncredits">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="credits-left fleft">
            2015 © All Rights Reserved, Moddys </span>

          </div>
          <div class="clear">
          </div>
        </div>
      </div>
      <!-- /grid -->
    </div>
    <!-- /sectioncredits -->
    </footer>