    <footer class="themefooter section medium-padding bg-graphite">
    <div class="">
      <div class="section-inner row">
        <div class="column column-1 col-md-4 rightbd">
          <div class="widgets">
            <div class="widget widget_text">
              <div class="widget-content">
                <h3 class="widget-title">About &nbsp; &#8220;Kailo&#8221;</h3>
                <div class="textwidget">
                  You are previewing "Kailo", a premium HTML bootstrap template that will help you design your website for selling videos, ebooks, photos, audio, software, podcasts or any other type of file. The Wordpress version provides a fully functional shop ready.
                </div>
              </div>
              <div class="clear">
              </div>
            </div>
          </div>
        </div>
        <!-- /footer-a -->
        <div class="column column-1 col-md-4 rightbd">
          <div class="widgets">
            <div class="widget widget_wysija">
              <div class="widget-content">
                <h3 class="widget-title">Subscribe to our Newsletter</h3>
                <div class="widget_wysija_cont">
                  <form class="widget_wysija">
                     Subscribe to our newsletter and join our 1374 subscribers.
                    <p class="wysija-paragraph">
                      <label>Email <span class="wysija-required">*</span></label>
                      <input type="text" name="" class="wysija-input validate[required,custom[email]]" title="Email" value=""/>
                    </p>
                    <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!"/>
                  </form>
                </div>
              </div>
              <div class="clear">
              </div>
            </div>
          </div>
        </div>
        <!-- /footer-b -->
        <div class="column column-1 col-md-4">
          <div class="widgets">
            <div class="widget widget_edd_categories_tags_widget">
              <div class="widget-content">
                <h3 class="widget-title">Shop Categories</h3>
                <ul class="edd-taxonomy-widget">
                  <li><a href="#">Banners</a></li>
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Logos</a></li>
                  <li><a href="#">Photoes</a></li>
                  <li><a href="#">Vintage</a></li>
                </ul>
              </div>
              <div class="clear">
              </div>
            </div>
          </div>
        </div>
        <!-- /footer-c -->
        <div class="clear">
        </div>
      </div>
      <!-- /footer-inner -->
    </div>
    <!-- /grid -->
    <div class="sectioncredits">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="credits-left fleft">
            2015 &copy; All Rights Reserved, WowThemes.net </span>
            <ul class="footermenu fright">
              <li><a href="index.html">Home</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="myaccount.html">My Account</a></li>
            </ul>
          </div>
          <div class="clear">
          </div>
        </div>
      </div>
      <!-- /grid -->
    </div>
    <!-- /sectioncredits -->
    </footer>