<div ng-include ="'partials/header.html'"></div>
<!-- <div ng-include ="'partials/itemsTemplate.html'"></div> -->
<div class="boxedlayout">

    <!-- HEADER
    ================================================== -->

    
    <!-- PAGE CONTENT
    ================================================== -->
    
    <!-- TITLE BEGINS -->
<div class="partial-menu" ng-include ="'partials/menu.html'"></div>
<div ng-include ="'partials/carousal.html'"></div>
    <!-- TITLE ENDS -->
    
    <!-- MAIN CONTENT BEGINS -->
    <div id="homepagetemplate"  style="clear:both" class="padtop10 padbot40">
      <div class="row">
        <div class="col-md-12 offer-row">
          <div class="clear text-center sectionlatestitems">
            <h2 class="maintitle">Special offers</h2>
       
          </div>

        </div>
      </div>

<div  ng-include ="'partials/itemsTemplate.html'"></div>

    </div>


    <div id="homepagetemplate"  style="clear:both" class="padtop10 padbot40">
      <div class="row">
        <div class="col-md-12 offer-row">
          <div class="clear text-center sectionlatestitems">
            <h2 class="maintitle">Reason to shop more</h2>
       
          </div>

        </div>
      </div>

<div  ng-include ="'partials/reasontoShop.html'"></div>

    </div>



    <!-- MAIN CONTENT ENDS -->
    
    <!-- CALL TO ACTION
    ================================================== -->

    <div class="coupon" ng-include ="'partials/coupon.html'"></div>
    <!-- FOOTER
    ================================================== -->
<div ng-include ="'partials/footer.html'"></div>
      </div>