<div ng-include ="'partials/header.html'"></div>
<div class="boxedlayout loginpage">

<div class='loginLayout'>
<h1>Login</h1>

<form name="userForm" novalidate ng-submit="userloginsubmit()" >

      <div class="form-group" ng-class="{ 'has-error' : userForm.User_Id.$invalid && !userForm.User_Id.$pristine }">
            <label>Email</label>
            <input type="email" name="User_Id" class="form-control" ng-model="user.User_Id" required>
            <p ng-show="userForm.User_Id.$invalid && !userForm.User_Id.$pristine" class="help-block">Enter a valid email.</p>
        </div>

      <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && !userForm.Password.$pristine }">
            <label>Password</label>
            <input ng-maxlength='10' required ng-minlength='4' type="Password" name="Password" class="form-control" ng-model="user.Password">
            <p ng-show="userForm.Password.$invalid && !userForm.Password.$pristine" class="help-block">Enter a valid password.</p>
        </div>




<input ng-disabled="userForm.$invalid" type="submit" value="Login" class=" fright cleardiv checkout"></input>

<a  ng-href='#/signup'  type="button"   class=" fleft cleardiv checkout signup">Signup</a>


</form>

</div>
</div>

	<div ng-include ="'partials/footer.html'"></div>