
.cart .addToCart:hover {
	background-color:#b50000;
	color:#fff;
	font-weight: bold;
	border: 1px solid #b50000; 
	box-shadow: 0px 0px 22px -5px #080102;
}

input[type=submit]:hover {
	background-color:#fff;
	color:#b50000;
	font-weight: bold;
	box-shadow: 0px 0px 22px -5px #000000;
	border: 3px solid  #b50000;
}

.cart .addToCart:active {

		font-size:12px;
}
.incart:hover{
	width: 70%;
}
.brand:hover{
width: 100%;
}
.utility:hover{
	width: 100%;
}
.utility:hover .favtext{

	display: inline-block;
	
}
